/* MDN like theme */
:root {
    /* Editor color */
    --ui-text-color:white;
    --resizer-bg-color:#999;
    --toplevel-bg-color: #fff;
    /* Help*/
    --help-bg-color: #07a;
    --help-margin-color: #white;
    /* Nav */
    --nav-bg-color: #07a;
    --nav-unselected-tab-bg-color: #006994;
    --nav-unselected-tab-text-color: #b5b5b5;
    --nav-selected-tab-bg-color: #0084bf;
    --nav-selected-tab-text-color: white;
    --nav-close-btn-bg-color:#099bda;
    /* Editor */
    --editor-bg-color: #fff;
    --editor-gutter-bg-color:#f7f7f7;
    --editor-gutter-text-color:#aaa;
    --editor-cursor-color: #222;
    --editor-selection-bg-color: #cfc;
    --editor-code-highlight-color: #ace2ac;
    /* Scrollbar */
    --scrollbar-bg-color: #017db3;
    --scrollbar-track-color: #006994;
    /* Preloader */
    --preloader-bg-color: #07a;
    --preloader-progress-bar-color: whitesmoke;
    /* Form */
    --form-dropdown-bg-color: white;
    --form-dropdown-text-color: black;
    --form-switch-border-color: white;
    --form-button-bg-color:#00adf8;
    --action-button: #0097a7;

    /* Code color */
    --code-text-color: #747474;
    --code-caml:rgb(110, 110, 201);
    --code-error:#d9534f;
    --code-string:#07a;
    --code-number:#ca7841;
    --code-constant:#777;
    --code-keyword:#6262FF;
    --code-operator:#cda869;
    --code-variable:#07a;
    --code-builtin:#9B7536;
    --code-atom:#F90;
    --code-def:#8DA6CE;
    --code-comment:#546e7a;
    --code-brackets:#0b0;
    --code-escape:#409290;
    --code-symbol:#f8f8f2;
    --code-tag:#997643;
    --code-meta:#000;
    --code-attribute:#d6bb6d;
    --code-qualifier: #690;
}
