/* Theme Console */

nav {
    background-color: #3c3f41 !important;
}

nav i, nav i.pycharm-icons {
    color: white;
}

.zoom-button{
    background-color: #3c3f41 !important;
}

.resizer[data-resizer-type=H] {
    background: linear-gradient(to right, #505050, #383838) repeat scroll 0% 0% transparent;
    box-shadow: 1px 0px 0px #6E6E6E inset, 2px 0px 2px rgba(0, 0, 0, 0.4);
}
.resizer[data-resizer-type=V] {
    background: linear-gradient(to bottom, #505050, #383838) repeat scroll 0% 0% transparent;
    box-shadow: 0px 1px 0px #6E6E6E inset, 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.code-highlight{
    background-color: rgba(66, 132, 255, .1);
}

.commands{
    color: white;
    border-left-color: #2b2b2b;
}

.box {
    background: #202b30 !important;
}

.help{
    background-color: #3c3f41 !important;
    color: white;
}

code, kbd, pre, samp {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#toplevel-container {
    background-color: #3c3f41;
    color: #ccc;
}


#toplevel-container textarea {
    color: #fff;
}


.caml{
    color:rgb(110, 110, 201);
}

.stderr {
    color: #d9534f;
}
.stdout {
    color: white;
}

.errorloc{
    border-bottom-color: red;
}

.tabs{
    background-color: #3c3f41 !important;
    color: whitesmoke !important;
}


.onglet {
    background-color: #303030 !important;
}

.tabs .tab a {
    color: #9f9f9f !important;
}

.tabs .tab a.active {
    background-color: #2b2b2b !important;
    color: white !important;
}


.sharp .id { color: #a9b7c6 ; font-style: italic }
.sharp .kw0 { color: #cc7832; font-weight: bold ;}
.sharp .kw1 { color: #cc7832; font-weight: bold ;}
.sharp .kw2 { color: #FFC66D; font-weight: bold ;}
.sharp .kw3 { color: #94558D; font-weight: bold ;}
.sharp .kw4 { color: #94558D; font-weight: bold ;}
.sharp .comment { color: #808080 ; font-style: italic ; }
.sharp .string { color: #629755; font-weight: bold ; }
.sharp .text { }
.sharp .numeric { color: #6897bb; }
.sharp .directive { font-style: italic ; color : #EB00FF; }
.sharp .escape { color: #409290 ; }
.sharp .symbol0 { color: #94558D ; font-weight: bold ; }
.sharp .symbol1 { color: #993300 ; font-weight: bold ; }
.sharp .constant { color: #ffcb6b; }

/* Theme codemirror */

.cm-s-pycharm.CodeMirror {
    background-color: #2b2b2b;
    color: #eff
}

.cm-s-pycharm .CodeMirror-gutters {
    background: #2b2b2b;
    color: #808080;
    border: none
}

.cm-s-pycharm .CodeMirror-guttermarker, .cm-s-pycharm .CodeMirror-guttermarker-subtle, .cm-s-pycharm .CodeMirror-linenumber {
    color: #808080
}

.cm-s-pycharm .CodeMirror-cursor {
    border-left: 1px solid #fc0
}

.cm-s-pycharm div.CodeMirror-selected {
    background: rgba(33, 66, 131, 1)
}

.cm-s-pycharm.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(33, 66, 131, 1)
}

.cm-s-pycharm .CodeMirror-line::selection, .cm-s-pycharm .CodeMirror-line > span::selection, .cm-s-pycharm .CodeMirror-line > span > span::selection {
    background: rgba(33, 66, 131, 1)
}

.cm-s-pycharm .CodeMirror-line::-moz-selection, .cm-s-pycharm .CodeMirror-line > span::-moz-selection, .cm-s-pycharm .CodeMirror-line > span > span::-moz-selection {
    background: rgba(33, 66, 131, 1)
}

.cm-s-pycharm .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, .5)
}

.cm-s-pycharm .cm-keyword {
    color: #cc7832
}

.cm-s-pycharm .cm-operator {
    color: #a9b7c6
}

.cm-s-pycharm .cm-variable-2 {
    color: #eff
}

.cm-s-pycharm .cm-type, .cm-s-pycharm .cm-variable-3 {
    color: #a9b7c6
}

.cm-s-pycharm .cm-builtin {
    color: #ffc66d
}

.cm-s-pycharm .cm-atom {
    color: #f78c6c
}

.cm-s-pycharm .cm-number {
    color: #6897bb
}

.cm-s-pycharm .cm-def {
    color: #82aaff
}

.cm-s-pycharm .cm-string {
    color: #629755
}

.cm-s-pycharm .cm-string-2 {
    color: #a9b7c6
}

.cm-s-pycharm .cm-comment {
    color: #808080
}

.cm-s-pycharm .cm-variable {
    color: #a9b7c6
}

.cm-s-pycharm .cm-tag {
    color: #ff5370
}

.cm-s-pycharm .cm-meta {
    color: #ffcb6b
}

.cm-s-pycharm .cm-attribute {
    color: #cc7832
}

.cm-s-pycharm .cm-property {
    color: #cc7832
}

.cm-s-pycharm .cm-qualifier {
    color: #8888C6
}

.cm-s-pycharm .cm-type, .cm-s-pycharm .cm-variable-3 {
    color: #8888C6
}

.cm-s-pycharm .cm-error {
    color: #fff;
    background-color: #ff5370
}

.cm-s-pycharm .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #fff !important
}

/* Track */
::-webkit-scrollbar-track {
    background: #2b2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

#loader-wrapper {
    background: #263238;
}

.progress{
    background-color: #263238!important;
}

.progress .indeterminate {
    background-color: whitesmoke!important;
}

.theme-select, .select-dropdown{
    color: white !important;
}

.caret {
    fill: white!important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid whitesmoke!important;
}

label{
    color: whitesmoke!important;
}

.dropdown-content{
    background-color: #2b2b2b!important;

}

.dropdown-content li>a, .dropdown-content li>span {
    color: white!important;
}

.switch label input[type=checkbox]:checked+.lever{
    background-color: #808080!important;
}

.switch label input[type=checkbox]:checked+.lever:after{
    background-color: whitesmoke!important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid white!important;
    border-bottom: 2px solid white!important;
}

.btn.config-element {
    background-color: #454646!important;
}
