body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #101010;
    font-size: 1em;
}

nav .brand-logo {
	padding-left: 1rem !important;
}

nav i, nav i.material-icons {
	font-size: 18px !important;
}

.container {
  display: flex;
  flex: 1 1 auto;
  width: 100% !important;
  max-width: 80000px !important;
  height: 100% !important;
}
.horizontal {
  flex-direction: row;
}
.vertical {
  flex-direction: column;
}

.box {
  flex: 1 1 0px;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

.errorloc{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.resizer {
  flex: 0 0 auto;
}
.resizer[data-resizer-type=H] {
  width: 3px;
  cursor: col-resize;
}
.resizer[data-resizer-type=V] {
  height: 3px;
  cursor: row-resize;
}

.CodeMirror {
	height: 100% !important;
	width: 100% !important;
}

.code-box{
    height: 100% !important;
}



#vertical-line {
    border-left: 4px solid lightgrey;
    position: absolute;
    left: 50%;
    top: 0%;
    margin-left: -2px;
    height: 100%;
}



.fixedab {
    position:fixed;
    bottom:23px;
    padding-top:15px;
    margin-bottom:0;
    z-index:997;
}

select {
    display: block !important;
}


code, kbd, pre, samp {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#toplevel-container {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    float: right;
    padding: 10px;
    padding-top: 20px;
}

#toplevel-container pre#output {
    align-content: center;
    font-style: italic;
}

#toplevel-container #output {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#toplevel-container textarea {
    width: 95%;
    background-color: transparent;
    border: 0;
    resize: none;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    float: left;
    margin: 0px;
    padding: 0px;
}

#toplevel-container #sharp {
    float: left;
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    white-space: pre;
}

.sharp:before{
    content: "# ";
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}


.indicator{
    display: none;
}

.tabs{
    background-color: #202b30 !important;
    color: whitesmoke !important;
    font-size: 0.9rem;
}


.onglet {
    background-color: #202a2d !important;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    text-transform: none!important;
}

.tabs .tab a {
    color: #9f9f9f !important;
}

.tabs .tab a.active {
    background-color: #273237 !important;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    font-size: 1.1rem !important;
    color: white !important;
}

.mini-icon{
    font-size: 0.8rem;
    margin-right: -0.8rem;
    margin-left: 1rem;
}

