body, html {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #101010;
    font-size: 1em;
}

body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

nav{
    line-height: 0px!important;
}

nav .brand-logo {
	padding-left: 1rem !important;
    font-size: 1.8rem!important;
    line-height: 64px!important;
}

.tabs {
    display: flex;
}

@media only screen and (max-width: 992px){
    nav .brand-logo {
        left: 6rem!important;
        padding-left: 1rem !important;
        font-size: 1.8rem!important;
    }
}

nav i, nav i.material-icons {
	display: inline !important;
}

.container {
  display: flex;
  flex: 1 1 auto;
    width: 100% !important;
    max-width: 80000px !important;
    height: inherit;
    max-height: calc(85vh - 10px);
}

.horizontal {
    flex-direction: row;

}

@media (max-width:600px){
    .horizontal {
        flex-direction: column;
    }
}



.vertical {
  flex-direction: column;
}

.box {
  flex: 1 1 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

.zoom-button{
    margin: 2px;
}

.errorloc{
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.resizer {
  flex: 0 0 auto;
}
.resizer[data-resizer-type=H] {
  width: 3px;
  cursor: col-resize;
}
.resizer[data-resizer-type=V] {
  height: 3px;
  cursor: row-resize;
}

.CodeMirror {
	height: 100% !important;
	width: 100% !important;
}

.code-box{
    height: 100% !important;
}



#vertical-line {
    border-left: 4px solid lightgrey;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -2px;
    height: 100%;
}



.fixedab {
    position:fixed;
    bottom:23px;
    padding-top:15px;
    margin-bottom:0;
    z-index:997;
}

.mobile-button{
    left: 92%;
}

@media (max-width:450px){
    .mobile-button{
        left: 90%;
    }
}

@media (max-width:350px){
    .mobile-button{
        left: 87%;
    }
}

select {
    display: block !important;
}


code, kbd, pre, samp {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#toplevel-container {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    float: right;
    padding: 10px;
    padding-top: 20px;
}

#toplevel-container pre#output {
    align-content: center;
    font-style: italic;
}

#toplevel-container #output {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#toplevel-container textarea {
    width: 95%;
    background-color: transparent;
    border: 0;
    resize: none;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    float: left;
    margin: 0;
    padding: 0;
}

#toplevel-container #sharp {
    float: left;
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    white-space: pre;
}

.sharp:before{
    content: "# ";
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}


.indicator{
    display: none;
}

.tabs{
    font-size: 0.9rem;
}


.onglet {
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    text-transform: none!important;
}

.tabs{
    height: auto!important;
    overflow-x: scroll!important;
}

.tabs .tab a.active {
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    font-size: 1.1rem !important;
}

.mini-icon{
    font-size: 0.8rem!important;
    margin-left: 1rem;
    line-height: 1!important;
}

.editorCollection{
    height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @supports (not (-ms-accelerator:true))
    and (not (-moz-appearance:none)) {
        .mini-icon{
            font-size: 0.8rem!important;
            margin-right: -0.8rem;
            margin-left: 1rem;
            line-height: 1!important;
        }
    } }

.switch{
    margin: 3%;
}

.switch label input[type=checkbox]:before {
    background-color: black;
}

.switch label input[type=checkbox]:after {
    background-color: whitesmoke;
}


/* width */
::-webkit-scrollbar {
    height: 10px;
    width: 20px;
}

.CodeMirror-hints {
    max-height: 10rem !important;
    overflow-y: hidden !important;
}
